---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaNotificationPolicy
metadata:
  name: use-external-alertmanager
spec:
  instanceSelector:
    matchLabels:
      grafana.internal/instance: grafana

  route:
    receiver: alertmanager
    group_by:
      - alertname
    group_wait: 1m
    group_interval: 10m
    repeat_interval: 12h
