# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cross-seed
spec:
  interval: 1h # interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      cross-seed:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/cross-seed/cross-seed
              tag: 6.13.6
            env:
              CROSS_SEED_PORT: &port 80
              TZ: Asia/Kuala_Lumpur
            args: ["daemon"]
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        annotations:
          lbipam.cilium.io/ips: 10.10.30.37
        ports:
          http:
            port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      secret-file:
        type: secret
        name: "{{ .Release.Name }}-secret"
        globalMounts:
          - path: /config/config.js
            subPath: config.js
            readOnly: true
      media:
        enabled: true
        type: nfs
        server: smb.cloudjur.com
        path: /tank/Storage
        # type: nfs
        # server: expanse.internal
        # path: /mnt/eros/Media
        # globalMounts:
        #   - path: /media/Downloads
        #     subPath: Downloads
