---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: home-assistant
  namespace: home-automation
spec:
  targetNamespace: home-automation
  interval: 24h
  retryInterval: 1m
  timeout: 5m
  path: ./kubernetes/apps/home-automation/home-assistant/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  postBuild:
    substitute:
      APP: home-assistant
      SUBDOMAIN: hass
      VOLSYNC_CAPACITY: 5Gi
  components:
    - ../../../../components/volsync
