---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: autobrr-secret
  namespace: media
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        # # App
        # AUTOBRR__DATABASETYPE: postgres
        # AUTOBRR__POSTGRESDATABASE: &dbName autobrr
        # AUTOBRR__POSTGRESHOST: &dbHost postgres-rw.database.svc.cluster.local
        # AUTOBRR__POSTGRESUSER: &dbUser "{{ .AUTOBRR__POSTGRESUSER }}"
        # AUTOBRR__POSTGRESPASS: &dbPass "{{ .AUTOBRR__POSTGRESPASS }}"
        # AUTOBRR__POSTGRESPORT: "5432"
        AUTOBRR__SESSIONSECRET: "{{ .AUTOBRR__SESSIONSECRET }}"
        # # Postgres Init
        # INIT_POSTGRES_DBNAME: *dbName
        # INIT_POSTGRES_HOST: *dbHost
        # INIT_POSTGRES_USER: *dbUser
        # INIT_POSTGRES_PASS: *dbPass
        # INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  refreshInterval: 15m
  data:
    # ## POSTGRES
    # - secretKey: POSTGRES_SUPER_PASS
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-login
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: 2e579895-287a-4b26-976b-2677620dc376
    #     property: password
    ## AUTOBRR
    - secretKey: AUTOBRR__SESSIONSECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: b63675ae-f8d5-4481-b3c6-c176f084f491
        property: AUTOBRR__SESSIONSECRET
    # - secretKey: AUTOBRR__POSTGRESUSER
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: b63675ae-f8d5-4481-b3c6-c176f084f491
    #     property: AUTOBRR__POSTGRESUSER
    # - secretKey: AUTOBRR__POSTGRESPASS
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: b63675ae-f8d5-4481-b3c6-c176f084f491
    #     property: AUTOBRR__POSTGRESPASS
