apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyseerr
spec:
  interval: 24h
  chartRef:
    kind: OCIRepository
    apiVersion: source.toolkit.fluxcd.io/v1
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      jellyseerr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/seerr-team/seerr
              tag: develop@sha256:c3de4154620ea574adffa83abf84cbed21ef1d59ae9ec2402813e7edbcaec3ff
            env:
              TZ: Asia/Kuala_Lumpur
              LOG_LEVEL: "info"
              PORT: &port 80
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 600M
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            runAsNonRoot: true
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        annotations:
          lbipam.cilium.io/ips: 10.10.30.18
        ports:
          http:
            port: *port
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/config
      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /app/config/cache
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /app/config/logs
            subPath: logs
          - path: /tmp
            subPath: tmp
    route:
      app:
        hostnames:
          - jellyseerr.cloudjur.com
          - requests.cloudjur.com
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - port: *port
                name: *app
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media Service
          gethomepage.dev/name: Jellyseerr
          gethomepage.dev/icon: jellyseerr.png
          gethomepage.dev/description: Media Request Management
          gethomepage.dev/widget.type: jellyseerr
          gethomepage.dev/widget.url: http://jellyseerr.media:80
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_JELLYSEERR_TOKEN}}` }}"
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
