---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: convertx
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      convertx:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/c4illin/convertx
              tag: v0.17.0@sha256:e1f85be04bbaf8a55ead9261194c3ae0fa0957d303ea537127154860b2552afd
            env:
              TZ: Asia/Kuala_Lumpur
              ACCOUNT_REGISTRATION: true
              HTTP_ALLOWED: false
              ALLOW_UNAUTHENTICATED: false
              AUTO_DELETE_EVERY_N_HOURS: 1
            # resources:
            #   requests:
            #     gpu.intel.com/i915: 1
            #   limits:
            #     gpu.intel.com/i915: 1
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
        pod:
          securityContext:
            runAsUser: &uid 568
            runAsGroup: *uid
            fsGroup: *uid
            fsGroupChangePolicy: "OnRootMismatch"
          # nodeSelector:
          #   intel.feature.node.kubernetes.io/gpu: "true"
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Utility Service
          gethomepage.dev/name: ConvertX
          gethomepage.dev/description: Format Convert tools
          gethomepage.dev/icon: https://raw.githubusercontent.com/chaijunkin/dashboard-icons/main/png/convertx.png
        hostnames: ["{{ .Release.Name }}.cloudjur.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/data
      tmpfs:
        type: emptyDir
        advancedMounts:
          convertx:
            app:
              - path: /tmp
                subPath: tmp
