---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: minecraft
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 5.1.1
  url: oci://ghcr.io/itzg/minecraft-server-charts/minecraft
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minecraft
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: minecraft
  dependsOn: []
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: *app
    image:
      repository: ghcr.io/itzg/minecraft-server
      tag: 2026.3.0@sha256:96d4812e29e2e820831f86a089002f7e78665f830cb4f16b23d5880d48cf90a7
    resources:
      requests:
        memory: 512Mi
        cpu: 200m
      limits:
        cpu: 2000m
        memory: 4Gi
    securityContext:
      runAsUser: 1000
      fsGroup: 1000
    livenessProbe:
      initialDelaySeconds: 30
    readinessProbe:
      initialDelaySeconds: 30
    startupProbe:
      enabled: true
    persistence:
      dataDir:
        enabled: true
        existingClaim: *app
    extraEnv:
      TZ: "Asia/Kuala_Lumpur"
      ENABLE_ROLLING_LOGS: true
      UID: 1000
      GID: 1000
      MEMORY: ""
      ENABLE_WHITELIST: false
    serviceAnnotations:
      lbipam.cilium.io/ips: "10.10.30.41"
      gatus.home-operations.com/endpoint: |-
        name: minecraft-lb
        group: services
      external-dns.alpha.kubernetes.io/hostname: minecraft-local.cloudjur.com
      external-dns.alpha.kubernetes.io/target: internal.cloudjur.com
      mc-router.itzg.me/externalServerName: minecraft.cloudjur.com
    minecraftServer:
      eula: true
      # renovate: datasource=custom.minecraft-release
      version: 1.21.11
      type: PAPER
      # overrideServerProperties: true
      jvmXXOpts: "-XX:MaxRAMPercentage=75"
      difficulty: normal
      # spawnProtection: 0
      # gameMode: survival
      pvp: true
      onlineMode: false
      #whitelist: "fly4sun"
      # ops: "fly4sun"
      motd: "Nah"
      worldSaveName: Kubeworld
      forceReDownload: true
      viewDistance: 12
      modUrls:
        - "https://cdn.modrinth.com/data/LNytGWDc/versions/5LpL274U/create-1.21.1-6.0.4.jar"
      # spigetResources:
      # - 36618 #Prom Exporter
      rcon:
        enabled: true
      # serviceType: LoadBalancer
      # loadbalancerIP: 10.10.30.41
  valuesFrom:
    - kind: Secret
      name: minecraft-secret
      valuesKey: RCON_PASSWORD
      targetPath: minecraftServer.rcon.password
