---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: {{ ENV.APP }}-manual
  namespace: {{ ENV.NS }}
spec:
  trigger:
    manual: restore-once
  kopia:
    accessModes:
      - {{ ENV.ACCESS_MODES }}
    copyMethod: Direct
    destinationPVC: {{ ENV.CLAIM }}
    moverSecurityContext:
      runAsUser: {{ ENV.PUID }}
      runAsGroup: {{ ENV.PGID }}
      fsGroup: {{ ENV.PGID }}
{% if ENV.PREVIOUS %}
    previous: {{ ENV.PREVIOUS }}
{% endif %}
{% if ENV.ASOF %}
    restoreAsOf: {{ ENV.ASOF }}
{% endif %}
    repository: {{ ENV.APP }}-volsync-secret
    storageClassName: {{ ENV.STORAGE_CLASS_NAME }}