---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: {{ ENV.APP }}-manual
  namespace: {{ ENV.NS }}
spec:
  trigger:
    manual: restore-once
  kopia:
    accessModes:
      - {{ ENV.ACCESS_MODES }}
    copyMethod: Direct
    enableFileDeletion: true
    cleanupTempPVC: true
    cleanupCachePVC: true
    destinationPVC: {{ ENV.CLAIM }}
    sourceIdentity:
      sourceName: {{ ENV.APP }}
    moverSecurityContext:
      runAsUser: {{ ENV.PUID }}
      runAsGroup: {{ ENV.PGID }}
      fsGroup: {{ ENV.PGID }}
    moverVolumes:
      - mountPath: repository
        volumeSource:
          nfs:
            path: /tank/Backup/Volsync
            server: smb.cloudjur.com
{% if ENV.PREVIOUS %}
    previous: {{ ENV.PREVIOUS }}
{% endif %}
{% if ENV.ASOF %}
    restoreAsOf: {{ ENV.ASOF }}
{% endif %}
    repository: {{ ENV.APP }}-volsync-secret
    storageClassName: {{ ENV.STORAGE_CLASS_NAME }}