---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  # - ./configmap.yaml
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./pvc.yaml
  # - ../../../../templates/volsync
labels:
  - pairs:
      app.kubernetes.io/name: paperless
      app.kubernetes.io/instance: paperless
      app.kubernetes.io/part-of: paperless
