# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: nas
# spec:
#   ports:
#     - name: https
#       protocol: TCP
#       port: 9090
#       targetPort: 9090
# ---
# apiVersion: gateway.networking.k8s.io/v1
# kind: HTTPRoute
# metadata:
#   name: nas
#   namespace: network
#   labels:
#     app.kubernetes.io/name: nas
#     app.kubernetes.io/instance: nas
# spec:
#   parentRefs:
#     - name: envoy-internal
#       namespace: network
#       sectionName: https
#   hostnames:
#     - nas.cloudjur.com
#   rules:
#     - backendRefs:
#         - name: nas
#           port: 9090
---
apiVersion: v1
kind: Service
metadata:
  name: nas
spec:
  ports:
    - name: https
      protocol: TCP
      port: 443
      appProtocol: kubernetes.io/h2c
      targetPort: 9090
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: nas
  labels:
    kubernetes.io/service-name: nas
    endpointslice.kubernetes.io/managed-by: cluster-admins
addressType: IPv4
ports:
  - name: https
    protocol: TCP
    port: 9090
endpoints:
  - addresses:
      - 10.10.30.10
      - 192.168.1.10
    conditions:
      ready: true # https://github.com/argoproj/argo-cd/issues/15554
---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TLSRoute
metadata:
  name: nas
  annotations:
    external-dns.alpha.kubernetes.io/hostname: 10.10.30.25
spec:
  parentRefs:
    - {name: envoy-internal, namespace: network, port: 6443}
  hostnames: [nas.cloudjur.com]
  rules:
    - backendRefs: [{name: nas, port: 443}]
