---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: qbittorrent
  namespace: downloads
spec:
  targetNamespace: downloads
  commonMetadata:
    labels:
      app.kubernetes.io/name: qbittorrent
  path: ./kubernetes/apps/downloads/qbittorrent/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 24h
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: qbittorrent
      SUBDOMAIN: qb
      VOLSYNC_CAPACITY: 2Gi
  components:
    - ../../../../components/volsync
