---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr-secret
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        # App
        PROWLARR__AUTH__APIKEY: "{{ .PROWLARR__API_KEY }}"
        # PROWLARR__POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        # PROWLARR__POSTGRES_PORT: "5432"
        # PROWLARR__POSTGRES_USER: &dbUser "{{ .PROWLARR__POSTGRES_USER }}"
        # PROWLARR__POSTGRES_PASSWORD: &dbPass "{{ .PROWLARR__POSTGRES_PASSWORD }}"
        # PROWLARR__POSTGRES_MAIN_DB: prowlarr_main
        # PROWLARR__POSTGRES_LOG_DB: prowlarr_log
        # # Postgres Init
        # INIT_POSTGRES_DBNAME: prowlarr_main prowlarr_log
        # INIT_POSTGRES_HOST: *dbHost
        # INIT_POSTGRES_USER: *dbUser
        # INIT_POSTGRES_PASS: *dbPass
        # INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  data:
    ## POSTGRES
    # - secretKey: POSTGRES_SUPER_PASS
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-login
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: 2e579895-287a-4b26-976b-2677620dc376
    #     property: password
    # - secretKey: PROWLARR__POSTGRES_USER
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: b109b21e-2842-43fe-a26e-fe244f979bf7
    #     property: pg_user
    # - secretKey: PROWLARR__POSTGRES_PASSWORD
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: b109b21e-2842-43fe-a26e-fe244f979bf7
    #     property: pg_password
    - secretKey: PROWLARR__API_KEY
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: b109b21e-2842-43fe-a26e-fe244f979bf7
        property: api_token
