defaultPodOptions:
  securityContext:
    runAsUser: 769
    runAsGroup: 769
    runAsNonRoot: true
controllers:
  bitwarden:
    containers:
      app:
        image:
          repository: ghcr.io/chaijunkin/bw
          tag: 2026.1.0@sha256:8950cc358e7db5af60685fb75c79a0bf65b2595f28a35d0bc56a435c13a81a44
        envFrom:
          - secretRef:
              name: bitwarden-cli
        securityContext:
          readOnlyRootFilesystem: true
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              periodSeconds: 120
              exec:
                command:
                  - sh
                  - -c
                  - /healthcheck.sh
              timeoutSeconds: 5
          readiness:
            enabled: false
          startup:
            enabled: false
        resources:
          requests:
            memory: 256Mi
            cpu: 100m
          limits:
            memory: 512Mi
service:
  app:
    controller: bitwarden
    ports:
      http:
        port: 8087
persistence:
  tmp:
    type: emptyDir
    globalMounts:
      - path: /tmp
