---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kavita
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      kavita:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/kareadita/kavita
              tag: 0.8.9@sha256:1f2acae7466d022f037ea09f7989eb7c487f916b881174c7a6de33dbfa8acb39
            env:
              TZ: Asia/Kuala_Lumpur
            resources:
              requests:
                cpu: 15m
                memory: 300Mi
              limits:
                memory: 1Gi
    service:
      app:
        ports:
          http:
            port: &port 5000
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media Service
          gethomepage.dev/name: Kavita
          gethomepage.dev/description: Manga Reader
          gethomepage.dev/icon: https://raw.githubusercontent.com/chaijunkin/dashboard-icons/main/png/kavita.png
          # gethomepage.dev/widget.type: kavita
          # gethomepage.dev/widget.url: "http://kavita.media.svc.cluster.local:5000"
          # gethomepage.dev/widget.username: "{{ `{{HOMEPAGE_VAR_CALIBREWEB_USERNAME}}` }}"
          # gethomepage.dev/widget.password: "{{ `{{HOMEPAGE_VAR_CALIBREWEB_PASSWORD}}` }}"
        hostnames: ["${SUBDOMAIN:=${APP}}.cloudjur.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /kavita/config
      media:
        type: nfs
        server: smb.cloudjur.com
        path: /tank/Storage
        globalMounts:
          - path: /data
            subPath: Books
