# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app remediation-webhook
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      webhook:
        serviceAccount:
          identifier: *app
        strategy: RollingUpdate
        initContainers:
          copy-kubectl:
            image:
              repository: ghcr.io/chaijunkin/linux-utility
              tag: rolling@sha256:8f71e42242dcf3563434fbaa2cd3bac3b2d02ed93ba2cbd7e12bfce822770b77
            command:
              - /bin/sh
              - -c
              - cp $(which kubectl) /kubectl/kubectl && chmod +x /kubectl/kubectl
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/webhook
              tag: 2.8.2@sha256:3b3015db7bfbe995238cb0b94f3098e4e6537bd2e9212b284d5e275dd6c9c76c
            env:
              WEBHOOK__PORT: &port 80
              TZ: Asia/Kuala_Lumpur
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 512Mi
    serviceAccount:
      *app :
        enabled: true
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        type: ClusterIP
        ports:
          http:
            port: 80
    persistence:
      config:
        type: configMap
        name: webhook-configmap
        defaultMode: 0775
        globalMounts:
          - readOnly: true
      kubectl-bin:
        type: emptyDir
        globalMounts:
          - path: /kubectl
    # route:
    #   app:
    #     hostnames:
    #       - remediation-webhook.cloudjur.com
    #     parentRefs:
    #       - name: envoy-internal
    #         namespace: network
    #         sectionName: https
    #     rules:
    #       - backendRefs:
    #           - name: webhook
    #             port: 80
    rbac:
      roles:
        list:
          type: ClusterRole
          forceRename: *app
          rules:
            - apiGroups: ["batch"]
              resources: ["jobs"]
              verbs: ["create"]
            - apiGroups: ["batch"]
              resources: ["cronjobs"]
              verbs: ["get"]
              resourceNames: ["remediation"]
      bindings:
        list:
          type: ClusterRoleBinding
          forceRename: *app
          roleRef:
            kind: ClusterRole
            name: *app
          subjects:
            - kind: ServiceAccount
              name: *app
              namespace: "{{ .Release.Namespace }}"
