---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: silence-operator
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.20.0
  url: oci://gsoci.azurecr.io/charts/giantswarm/silence-operator
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: silence-operator
spec:
  interval: 1h # interval: 1h
  chartRef:
    kind: OCIRepository
    name: silence-operator
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    alertmanagerAddress: http://kube-prometheus-stack-alertmanager:9093
    networkPolicy:
      enabled: false
