apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./pvc.yaml
labels:
  - pairs:
      app.kubernetes.io/name: minio
      app.kubernetes.io/instance: minio
      app.kubernetes.io/part-of: minio
