---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr-secret
  namespace: downloads
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        # App
        SONARR__AUTH__APIKEY: "{{ .SONARR_API_KEY }}"
        # SONARR__POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        # SONARR__POSTGRES_PORT: "5432"
        # SONARR__POSTGRES_USER: &dbUser "{{ .SONARR_POSTGRES_USER }}"
        # SONARR__POSTGRES_PASSWORD: &dbPass "{{ .SONARR_POSTGRES_PASSWORD }}"
        # SONARR__POSTGRES_MAIN_DB: sonarr_main
        # SONARR__POSTGRES_LOG_DB: sonarr_log
        # # Postgres Init
        # INIT_POSTGRES_DBNAME: sonarr_main sonarr_log
        # INIT_POSTGRES_HOST: *dbHost
        # INIT_POSTGRES_USER: *dbUser
        # INIT_POSTGRES_PASS: *dbPass
        # INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  refreshInterval: 15m
  data:
    # ## POSTGRES
    # - secretKey: POSTGRES_SUPER_PASS
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-login
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: 2e579895-287a-4b26-976b-2677620dc376
    #     property: password
    ## SONARR
    - secretKey: SONARR_API_KEY
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: d0079122-c640-4977-8668-c597520413f9
        property: SONARR_API_KEY
    # - secretKey: SONARR_POSTGRES_USER
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: d0079122-c640-4977-8668-c597520413f9
    #     property: SONARR_POSTGRES_USER
    # - secretKey: SONARR_POSTGRES_PASSWORD
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: d0079122-c640-4977-8668-c597520413f9
    #     property: SONARR_POSTGRES_PASSWORD
