---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: syncthing
spec:
  interval: 1h
  maxHistory: 1
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    crds: CreateReplace
    timeout: 2m
    remediation:
      retries: 1
  upgrade:
    crds: CreateReplace
    timeout: 2m
    remediation:
      retries: 1
  values:
    controllers:
      ${APP}:
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}
        containers:
          app:
            image:
              repository: ghcr.io/syncthing/syncthing
              tag: 2.0.11@sha256:905d4a8fac511e0022432d084413a2a8578a67036dc44cc3df184c4e6f20ec33
            env:
              PGID: 2000
              PUID: 2000
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 500Mi
            securityContext:
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: &port 8384
                    path: /rest/noauth/health
              readiness: *probes
    service:
      app:
        forceRename: syncthing
        primary: true
        controller: syncthing
        ports:
          http:
            port: &port 8384
      listen:
        controller: syncthing
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.10.30.9
          gatus.home-operations.com/endpoint: |-
            name: syncthing-lb
            group: services
        ports:
          listen-tcp:
            port: 22000
            protocol: TCP
          listen-udp:
            port: 22000
            protocol: UDP
          discovery:
            port: 21027
            protocol: UDP

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Application Service
          gethomepage.dev/name: Syncthing
          gethomepage.dev/description: File Synchronization Service
          gethomepage.dev/icon: https://raw.githubusercontent.com/chaijunkin/dashboard-icons/main/png/syncthing.png
        hostnames:
          - ${APP}.cloudjur.com
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
            timeouts:
              request: 0s
      # tcp:
      #   kind: TCPRoute
      #   parentRefs:
      #     - name: envoy-internal
      #       namespace: network
      #       sectionName: syncthing-tcp
      #   rules:
      #     - backendRefs:
      #         - identifier: main
      #           port: 22000
      # quic:
      #   kind: UDPRoute
      #   parentRefs:
      #     - name: envoy-internal
      #       namespace: network
      #       sectionName: syncthing-quic
      #   rules:
      #     - backendRefs:
      #         - identifier: main
      #           port: 22000
    persistence:
      config:
        existingClaim: ${APP}
        globalMounts:
          - path: /var/syncthing
      media:
        type: nfs
        server: smb.cloudjur.com
        path: /tank/Storage
        globalMounts:
          - path: /media
    serviceMonitor:
      app:
        serviceName: syncthing
        endpoints:
          - port: http
            scheme: http
            path: /metrics
