---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr-secret
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        # App
        RADARR__AUTH__APIKEY: "{{ .RADARR__API_KEY }}"
        # RADARR__POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        # RADARR__POSTGRES_PORT: "5432"
        # RADARR__POSTGRES_USER: &dbUser "{{ .RADARR__POSTGRES_USER }}"
        # RADARR__POSTGRES_PASSWORD: &dbPass "{{ .RADARR__POSTGRES_PASSWORD }}"
        # RADARR__POSTGRES_MAIN_DB: radarr_main
        # RADARR__POSTGRES_LOG_DB: radarr_log
        # # Postgres Init
        # INIT_POSTGRES_DBNAME: radarr_main radarr_log
        # INIT_POSTGRES_HOST: *dbHost
        # INIT_POSTGRES_USER: *dbUser
        # INIT_POSTGRES_PASS: *dbPass
        # INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  data:
    # ## POSTGRES
    # - secretKey: POSTGRES_SUPER_PASS
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-login
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: 2e579895-287a-4b26-976b-2677620dc376
    #     property: password
    - secretKey: RADARR__API_KEY
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: f541c7bb-890b-4fa4-991a-dab691790e35
        property: api_token
    # - secretKey: RADARR__POSTGRES_USER
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: f541c7bb-890b-4fa4-991a-dab691790e35
    #     property: pg_user
    # - secretKey: RADARR__POSTGRES_PASSWORD
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: f541c7bb-890b-4fa4-991a-dab691790e35
    #     property: pg_password
