---
web:
  port: ${GATUS_WEB_PORT}

storage:
  type: sqlite
  path: /config/sqlite.db
  caching: true

metrics: true

ui:
  title: Int Status | Gatus
  header: Int Status
  logo: https://avatars.githubusercontent.com/u/88609082?v=4
  link: https://github.com/chaijunkin
  buttons:
    - name: Github
      link: https://github.com/chaijunkin
    - name: Homelab
      link: https://github.com/chaijunkin/home-ops

alerting:
  discord:
    webhook-url: ${DISCORD_WEBHOOK_URL}
    default-alert:
      description: health-check failed
      send-on-resolved: true
      failure-threshold: 5
      success-threshold: 2

connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

fly-default-endpoint: &fly-defaults
  group: Cloud-From-Home
  interval: 1m
  client:
    timeout: 30s
  conditions: ["[STATUS] < 300", "[CERTIFICATE_EXPIRATION] > 48h"]
  alerts:
    - type: pushover

endpoints:
  - name: Main website
    url: https://www.cloudjur.com
    <<: *fly-defaults
  - name: Wiki
    url: https://wiki.cloudjur.com
    <<: *fly-defaults
  - name: Mail
    url: https://mail.cloudjur.com
    <<: *fly-defaults
  - name: Webmail
    url: https://webmail.cloudjur.com
    <<: *fly-defaults
  - name: Vault
    url: https://vw.cloudjur.com
    <<: *fly-defaults
  - name: external
    group: external
    url: 1.1.1.1
    interval: 1m
    dns:
      query-name: "external.cloudjur.com"
      query-type: A
    conditions:
      - "len([BODY]) > 0"
  # - name: Cloudflare
  #   group: connectivity
  #   url: icmp://1.1.1.1
  #   interval: 1m
  #   conditions:
  #     - "[CONNECTED] == true"

  # - name: Google
  #   group: connectivity
  #   url: icmp://8.8.8.8
  #   interval: 1m
  #   conditions:
  #     - "[CONNECTED] == true"

  # - name: Quad9
  #   group: connectivity
  #   url: icmp://9.9.9.9
  #   interval: 1m
  #   conditions:
  #     - "[CONNECTED] == true"
# announcements:
#   - timestamp: 2025-08-15T14:00:00Z
#     type: outage
#     message: "Scheduled maintenance on database servers from 14:00 to 16:00 UTC"

# remote:
#   instances:
#     - endpoint-prefix: ""
#       url: "https://status.cloudjur.com/api/v1/endpoints/statuses"
