---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: remediation-webhook
  namespace: observability
spec:
  targetNamespace: observability
  commonMetadata:
    labels:
      app.kubernetes.io/name: remediation-webhook
  path: ./kubernetes/apps/observability/webhook/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 24h
  retryInterval: 1m
  timeout: 5m
