---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: searxng
  namespace: flux-system
spec:
  targetNamespace: default
  path: ./kubernetes/apps/default/searxng/app
  prune: true
  commonMetadata:
    labels:
      app.kubernetes.io/name: searxng
  dependsOn:
    - name: external-secrets-bitwarden
      namespace: kube-system
    - name: external-secrets-stores
      namespace: kube-system
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 24h
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      SUBDOMAIN: search
      APP: searxng
