---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../components/common
resources:
  - ./alloy/ks.yaml
  - ./exporters
  # - ./gatus/ks.yaml
  - ./grafana/ks.yaml
  - ./kromgo/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./loki/ks.yaml
  - ./pyroscope/ks.yaml
  - ./silence-operator/ks.yaml
  - ./tempo/ks.yaml
