---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name opencloud-secret
spec:
  refreshInterval: 5m
  target:
    name: opencloud-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # OIDC
        OC_OIDC_ISSUER: https://auth.cloudjur.com/application/o/opencloud/
        OC_EXCLUDE_RUN_SERVICES: idp
        PROXY_AUTOPROVISION_ACCOUNTS: "true"
        PROXY_AUTOPROVISION_CLAIM_USERNAME: "preferred_username"
        PROXY_TLS: "false"
        PROXY_CSP_CONFIG_FILE_LOCATION: /etc/opencloud/csp.yaml
        PROXY_USER_OIDC_CLAIM: "preferred_username"
        PROXY_USER_CS3_CLAIM: "username"
        PROXY_ROLE_ASSIGNMENT_DRIVER: "oidc"
        PROXY_OIDC_REWRITE_WELLKNOWN: "true"
        PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD: none
        PROXY_OIDC_USERINFO_CACHE_TTL: 30m
        PROXY_ROLE_ASSIGNMENT_OIDC_CLAIM: "groups"
        # WEB_OIDC_CLIENT_ID: "web"
        WEB_OIDC_CLIENT_ID: "{{ .ocis_service_account_id }}"
        WEB_OIDC_SCOPE: "openid profile email offline_access"
        WEB_OPTION_ACCOUNT_EDIT_LINK_HREF: "https://auth.cloudjur.com/if/user/#/settings"
        # # JWT and Admin
        OC_JWT_SECRET: "{{ .jwt_secret }}"
        IDM_ADMIN_PASSWORD: "{{ .idm_admin_password }}"
        # Storage
        STORAGE_USERS_DECOMPOSEDS3_ENDPOINT: https://s3.cloudjur.com
        STORAGE_USERS_DECOMPOSEDS3_REGION: default
        STORAGE_USERS_DECOMPOSEDS3_BUCKET: opencloud
        STORAGE_USERS_DECOMPOSEDS3_ACCESS_KEY: "{{ .AWS_ACCESS_KEY_ID }}"
        STORAGE_USERS_DECOMPOSEDS3_SECRET_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
        # SMTP
        NOTIFICATIONS_SMTP_PORT: "465"
        NOTIFICATIONS_SMTP_HOST: "{{ .SMTP_HOST }}"
        NOTIFICATIONS_SMTP_SENDER: "{{ .SMTP_SENDER }}"
        NOTIFICATIONS_SMTP_USERNAME: "{{ .SMTP_USERNAME }}"
        NOTIFICATIONS_SMTP_PASSWORD: "{{ .SMTP_PASSWORD }}"

  data:
    ## SMTP
    - secretKey: SMTP_HOST
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 613150cc-5dcb-4b3e-881e-27cf5dbcad7e
        property: SMTP_HOST
    - secretKey: SMTP_USERNAME
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 613150cc-5dcb-4b3e-881e-27cf5dbcad7e
        property: SMTP_USERNAME
    - secretKey: SMTP_PASSWORD
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 613150cc-5dcb-4b3e-881e-27cf5dbcad7e
        property: SMTP_PASSWORD
    - secretKey: SMTP_SENDER
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 613150cc-5dcb-4b3e-881e-27cf5dbcad7e
        property: SMTP_FROM
    - secretKey: jwt_secret
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: e62c9502-0c7b-4908-a5fd-42d15e269e2d
        property: ocis_jwt_secret
    - secretKey: ocis_service_account_id
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: e62c9502-0c7b-4908-a5fd-42d15e269e2d
        property: ocis_oauth_client_id
    - secretKey: idm_admin_password
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: e62c9502-0c7b-4908-a5fd-42d15e269e2d
        property: password
    - secretKey: AWS_ACCESS_KEY_ID
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: d10ce5c3-ce4b-4f22-9430-b962390e0cba
        property: owner_access_key
    - secretKey: AWS_SECRET_ACCESS_KEY
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: d10ce5c3-ce4b-4f22-9430-b962390e0cba
        property: owner_secret_key
