---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: open-webui-secret
  namespace: default
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        # App
        ENABLE_OAUTH_SIGNUP: "true"
        OAUTH_MERGE_ACCOUNTS_BY_EMAIL: "true"
        OAUTH_PROVIDER_NAME: Authentik
        OPENID_PROVIDER_URL: https://auth.cloudjur.com/application/o/open-webui/.well-known/openid-configuration
        OAUTH_SCOPES: openid email profile
        OPENID_REDIRECT_URI: https://chat.cloudjur.com/oauth/oidc/callback
        OAUTH_CLIENT_ID: "{{ .OAUTH_CLIENT_ID }}"
        OAUTH_CLIENT_SECRET: "{{ .OAUTH_CLIENT_SECRET }}"
        WEBUI_SECRET_KEY: "{{ .WEBUI_SECRET_KEY}}"
        # DATABASE_URL: "postgres://{{ .POSTGRESUSER }}:{{ .POSTGRESPASS }}@postgres-rw.database.svc.cluster.local/open-webui?sslmode=disable"
        # DB_DATABASE: &dbName open-webui
        # DB_HOST: &dbHost postgres-rw.database.svc.cluster.local
        # DB_USERNAME: &dbUser "{{ .POSTGRESUSER }}"
        # DB_PASSWORD: &dbPass "{{ .POSTGRESPASS }}"
        # INIT_POSTGRES_DBNAME: *dbName
        # INIT_POSTGRES_HOST: *dbHost
        # INIT_POSTGRES_USER: *dbUser
        # INIT_POSTGRES_PASS: *dbPass
        # INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  refreshInterval: 15m
  data:
    # ## POSTGRES
    # - secretKey: POSTGRES_SUPER_PASS
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-login
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: 2e579895-287a-4b26-976b-2677620dc376
    #     property: password
    # - secretKey: POSTGRESUSER
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: 3281c266-c631-42a0-bbed-db4429728cad
    #     property: POSTGRESUSER
    # - secretKey: POSTGRESPASS
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: 3281c266-c631-42a0-bbed-db4429728cad
    #     property: POSTGRESPASS
    - secretKey: WEBUI_SECRET_KEY
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 3281c266-c631-42a0-bbed-db4429728cad
        property: WEBUI_SECRET_KEY
    - secretKey: OAUTH_CLIENT_ID
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 3281c266-c631-42a0-bbed-db4429728cad
        property: open_webui_oauth_id
    - secretKey: OAUTH_CLIENT_SECRET
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 3281c266-c631-42a0-bbed-db4429728cad
        property: open_webui_oauth_secret
