### NOT READY
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rustdesk
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      hbbr:
        containers:
          hbbr:
            image:
              repository: rustdesk/rustdesk-server
              tag: 1.1.10-3
            env:
              TZ: Asia/Kuala_Lumpur
            command: ["hbbr"]
      hbbs:
        containers:
          hbbs:
            image:
              repository: rustdesk/rustdesk-server
              tag: 1.1.10-3
            env:
              TZ: Asia/Kuala_Lumpur
              DB_URL: /db/db_v2.sqlite3
              ENCRYPTED_ONLY: "1"
              RELAY: "10.10.30.20:21117"
            command: ["hbbs", "-r 10.10.30.20:21117"]
    # Because using docker host mode
    # Just in case you forgot the ports:
    # 21114 TCP for web console, only available in Pro version
    # 21115 TCP for NAT type test
    # 21116 TCP TCP hole punching
    # 21116 UDP heartbeat/ID server
    # 21117 TCP relay
    # 21118/21119 TCP for web socket if you want to run web client
    service:
      relay:
        controller: hbbr
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: rustdesk-relay.cloudjur.com
          lbipam.cilium.io/ips: "10.10.30.21"
        ports:
          rustdesk-5:
            enabled: true
            port: 21117 # Relay server
            protocol: "TCP"
          rustdesk-6:
            enabled: true
            port: 21119
            protocol: "TCP"
      server:
        controller: hbbs
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.10.30.20"
          external-dns.alpha.kubernetes.io/hostname: rustdesk.cloudjur.com
        ports:
          rustdesk-1:
            port: 21114
          rustdesk-2:
            port: 21115
          rustdesk-3:
            port: &port 21116 # ID server
          rustdesk-4:
            port: *port
            protocol: UDP
          rustdesk-5-relay:
            port: 21117
          rustdesk-6:
            port: 21118
          rustdesk-7-relay:
            port: 21119
          # rustdesk-1:
          #   enabled: true
          #   port: 21115
          #   protocol: "TCP"
          # rustdesk-2:
          #   enabled: true
          #   port: 21116 # ID server
          #   protocol: "TCP"
          # rustdesk-3:
          #   enabled: true
          #   port: 21116
          #   protocol: "UDP"
          # rustdesk-4:
          #   enabled: true
          #   port: 21118
          #   protocol: "TCP"
    # route:
    #   hbbr:
    #     hostnames: ["hbbr.cloudjur.com"]
    #     parentRefs:
    #       - name: envoy-internal
    #         namespace: network
    #         sectionName: https
    #     rules:
    #       - backendRefs:
    #           - port: 21117
    #             name: hbbr
    #   hbbs:
    #     hostnames: ["hbbs.cloudjur.com"]
    #     parentRefs:
    #       - name: envoy-internal
    #         namespace: network
    #         sectionName: https
    #     rules:
    #       - backendRefs:
    #           - port: 21116
    #             name: hbbs
    # ingress:
    #   hbbr:
    #     enabled: true
    #     className: internal
    #     hosts:
    #       - host: &host hbbr.cloudjur.com
    #         paths:
    #           - path: /
    #             service:
    #               identifier: hbbr
    #               port: 21117
    #     tls:
    #       - hosts:
    #           - *host
    #   hbbs:
    #     enabled: true
    #     className: internal
    #     hosts:
    #       - host: &host hbbs.cloudjur.com
    #         paths:
    #         - path: /
    #           service:
    #             identifier: hbbs
    #             port: 21116
    #     tls:
    #       - hosts:
    #           - *host
    persistence:
      data:
        enabled: true
        existingClaim: rustdesk-data
        globalMounts:
          - path: /db
            subPath: hbbs
          - path: /root
            subPath: root
