---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: tempo
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  url: oci://ghcr.io/grafana/helm-charts/tempo
  ref:
    tag: 1.24.1
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tempo
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: tempo
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    tempo:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          memory: 2Gi

      retention: 24h
      reportingEnabled: false

      receivers:
        otlp:
          protocols:
            grpc:
              endpoint: 0.0.0.0:4317
            http:
              endpoint: 0.0.0.0:4318

      storage:
        trace:
          backend: local
          local:
            path: /var/tempo/traces

      ingester:
        max_block_duration: 5m

      compactor:
        compaction:
          block_retention: 24h

      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          interval: 30s
          scrapeTimeout: 10s

    serviceMonitor:
      enabled: true
      interval: 30s
      scrapeTimeout: 10s

    service:
      ports:
        - name: otlp-grpc
          port: 4317
          protocol: TCP
          targetPort: 4317
        - name: otlp-http
          port: 4318
          protocol: TCP
          targetPort: 4318
        - name: tempo
          port: 3200
          protocol: TCP
          targetPort: 3200

    persistence:
      enabled: true
      storageClassName: openebs-hostpath
      size: 10Gi
