# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  interval: 24h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: volsync
      namespace: volsync-system
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      # hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        ### I MIGHT NOT NEED MULTUS DUE TO OPENVSWITCH CONFIGURATION
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name": "multus-not",
                "namespace": "network",
                "ips": ["10.10.32.250/24"]
              },
              {
                "name": "multus-iot",
                "namespace": "network",
                "ips": ["10.10.33.250/24"]
              }
              ,{
                "name": "multus-trust",
                "namespace": "network",
                "ips": ["10.10.10.250/24"]
              }]
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.11.2
            env:
              TZ: Asia/Kuala_Lumpur
              HASS_HTTP_TRUSTED_PROXY_1: 10.0.0.0/8
              HASS_HTTP_TRUSTED_PROXY_2: 10.10.30.0/16
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 2Gi
          codeserver:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.105.1@sha256:2d48970bd2084aa34a522d772b6a437981ea80407465b3bf7958553985c570e1
            env:
              TZ: Asia/Kuala_Lumpur
              HASS_SERVER: https://hass.cloudjur.com
            # probes: *probes
            args:
              - --auth
              - "none"
              - --disable-telemetry
              - --disable-update-check
              - "--port"
              - "12321"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"
              - "/config"
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 512Mi
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.10.30.50"
          gatus.home-operations.com/endpoint: |-
            name: home-assistant-lb
            group: services
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: &port 8123
        primary: true
      code-server:
        ports:
          code-server:
            port: 12321
    persistence:
      config:
        existingClaim: *app
        # advancedMounts:
        #   home-assistant:
        #     app:
        #       - path: /config
        #         subPath: config
        #     code-server:
        #       - path: /config
        #         subPath: config
        #       - path: /data
        #         subPath: code-server
      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /config/.venv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              # - path: /config/.venv
              #   subPath: .venv
              - path: /config/logs
                subPath: logs
              - path: /config/tts
                subPath: tts
              - path: /tmp
                subPath: tmp
    route:
      app:
        hostnames:
          - hass.cloudjur.com
          - "{{ .Release.Name }}.cloudjur.com"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8123
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Application Service
          gethomepage.dev/name: Home-Assistant
          gethomepage.dev/icon: home-assistant.png
          gethomepage.dev/description: Home Automation Software
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
      codeserver:
        hostnames: ["${SUBDOMAIN:=${APP}}-code.cloudjur.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: code-server
                port: 12321
