---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rustdesk
  namespace: default
spec:
  targetNamespace: default
  path: ./kubernetes/apps/default/rustdesk/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 24h
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: rustdesk
      VOLSYNC_CLAIM: rustdesk-data
      VOLSYNC_CAPACITY: 20Gi
  components:
    - ../../../../components/gatus/guarded
    - ../../../../components/volsync-no-r2
