# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/app/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homepage
spec:
  interval: 24h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      dnsConfig:
        searches:
          - svc.cluster.local
    controllers:
      homepage:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        serviceAccount:
          identifier: homepage
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.6.1
            env:
              TZ: Asia/Kuala_Lumpur
              HOMEPAGE_ALLOWED_HOSTS: "{{ .Release.Name }}.cloudjur.com"
            envFrom:
              - secretRef:
                  name: homepage-secret
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 2G
    service:
      app:
        controller: *app
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames:
          - homepage.cloudjur.com
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - port: 3000
                name: *app
    persistence:
      config:
        enabled: true
        type: configMap
        name: homepage-config
        globalMounts:
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
          - subPath: docker.yaml
            path: /app/config/docker.yaml
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
          - subPath: services.yaml
            path: /app/config/services.yaml
          - subPath: settings.yaml
            path: /app/config/settings.yaml
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml
    serviceAccount:
      homepage: {}
