---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana
  namespace: observability
spec:
  targetNamespace: observability
  commonMetadata:
    labels:
      app.kubernetes.io/name: grafana
  dependsOn:
    - name: external-secrets-bitwarden
      namespace: kube-system
  path: ./kubernetes/apps/observability/grafana/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 24h
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: grafana
  components:
    - ../../../../components/gatus/external
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana-instance
  namespace: observability
spec:
  dependsOn:
    - name: grafana
  interval: 24h
  path: ./kubernetes/apps/observability/grafana/instance
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: observability
  wait: false
