---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name mcp-grafana-secret
spec:
  refreshInterval: 15m
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        GRAFANA_USERNAME: "{{ .username }}"
        GRAFANA_PASSWORD: "{{ .password }}"
  data:
    - secretKey: username
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: b63d3bff-0027-4779-8d0f-c70528bf98f8
        property: username
    - secretKey: password
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: b63d3bff-0027-4779-8d0f-c70528bf98f8
        property: password
