---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mcp-grafana
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback

  values:
    controllers:
      mcp-grafana:
        containers:
          app:
            image:
              repository: mcp/grafana
              tag: latest
              pullPolicy: Always

            args:
              - "run"
              - "--rm"
              - "-i"
              - "-e"
              - "GRAFANA_URL"
              - "-e"
              - "GRAFANA_USERNAME"
              - "-e"
              - "GRAFANA_PASSWORD"
              - "mcp/grafana"
              - "-t"
              - "streamable-http"

            env:
              TZ: "Asia/Kuala_Lumpur"
              GRAFANA_URL: http://grafana.observability:3000

            envFrom:
              - secretRef:
                  name: mcp-grafana-secret
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 256Mi

            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL

    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8000

    persistence:
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
