---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: readarr-secret
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        # App
        READARR__API_KEY: "{{ .READARR__API_KEY }}"
        # READARR__POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        # READARR__POSTGRES_PORT: "5432"
        # READARR__POSTGRES_USER: &dbUser "{{ .READARR__POSTGRES_USER }}"
        # READARR__POSTGRES_PASSWORD: &dbPass "{{ .READARR__POSTGRES_PASSWORD }}"
        # READARR__POSTGRES_MAIN_DB: readarr_main
        # READARR__POSTGRES_LOG_DB: readarr_log
        # READARR__POSTGRES_CACHE_DB: readarr_cache
        # # Postgres Init
        # INIT_POSTGRES_DBNAME: readarr_main readarr_log readarr_cache
        # INIT_POSTGRES_HOST: *dbHost
        # INIT_POSTGRES_USER: *dbUser
        # INIT_POSTGRES_PASS: *dbPass
        # INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  data:
    # ## POSTGRES
    # - secretKey: POSTGRES_SUPER_PASS
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-login
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: 2e579895-287a-4b26-976b-2677620dc376
    #     property: password
    ## APP
    - secretKey: READARR__API_KEY
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 29bd7124-3e2e-4cdc-9cbf-635d5f9df4c3
        property: api_token
    # - secretKey: READARR__POSTGRES_USER
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: 29bd7124-3e2e-4cdc-9cbf-635d5f9df4c3
    #     property: pg_user
    # - secretKey: READARR__POSTGRES_PASSWORD
    #   sourceRef:
    #     storeRef:
    #       name: bitwarden-fields
    #       kind: ClusterSecretStore
    #   remoteRef:
    #     key: 29bd7124-3e2e-4cdc-9cbf-635d5f9df4c3
    #     property: pg_password