---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: open-webui
  namespace: default
spec:
  targetNamespace: default
  path: ./kubernetes/apps/default/open-webui/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 24h
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: open-webui
      SUBDOMAIN: chat
      VOLSYNC_CAPACITY: 20Gi
  components:
    - ../../../../components/volsync-no-r2
