apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: echo-server
spec:
  interval: 24h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      echo-server:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/mendhak/http-https-echo
              tag: 39
            env:
              HTTP_PORT: &port 8080
              LOG_WITHOUT_NEWLINE: true
              LOG_IGNORE_PATH: /healthz
              PROMETHEUS_ENABLED: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
              seccompProfile:
                type: RuntimeDefault
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 64Mi
        pod:
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            runAsNonRoot: true
    service:
      app:
        ports:
          http:
            port: *port
    route:
      int:
        hostnames:
          - echo-server-int.cloudjur.com
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - port: *port
                name: echo-server
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Management Tools
          gethomepage.dev/name: Echo Server Internal
          gethomepage.dev/description: HTTP & HTTPS Echo Server Internal
          gethomepage.dev/icon: https://raw.githubusercontent.com/chaijunkin/dashboard-icons/main/png/web-check.png
      int-auth:
        hostnames:
          - echo-server-int-auth.cloudjur.com
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - port: *port
                name: echo-server
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Management Tools
          gethomepage.dev/name: Echo Server Internal Auth
          gethomepage.dev/description: HTTP & HTTPS Echo Server Internal Auth
          gethomepage.dev/icon: https://raw.githubusercontent.com/chaijunkin/dashboard-icons/main/png/web-check.png
      ext:
        hostnames:
          - echo-server-ext.cloudjur.com
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - port: *port
                name: echo-server
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Management Tools
          gethomepage.dev/name: Echo Server External
          gethomepage.dev/description: HTTP & HTTPS Echo Server External
          gethomepage.dev/icon: https://raw.githubusercontent.com/chaijunkin/dashboard-icons/main/png/web-check.png
      # ext-auth:
      #   hostnames:
      #     - echo-server-ext-auth.cloudjur.com
      #   parentRefs:
      #     - name: envoy-external
      #       namespace: network
      #       sectionName: https
      #   rules:
      #     - backendRefs:
      #         - port: *port
      #           name: echo-server
      #   annotations:
      #     gethomepage.dev/enabled: "true"
      #     gethomepage.dev/group: Management Tools
      #     gethomepage.dev/name: Echo Server External Auth
      #     gethomepage.dev/description: HTTP & HTTPS Echo Server External Auth
      #     gethomepage.dev/icon: https://raw.githubusercontent.com/chaijunkin/dashboard-icons/main/png/web-check.png
