---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: headlamp
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.39.0
  url: oci://ghcr.io/home-operations/charts-mirror/headlamp
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app headlamp
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: headlamp
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      # -- Container image registry
      registry: ghcr.io
      # -- Container image name
      repository: headlamp-k8s/headlamp
      # -- Image pull policy. One of Always, Never, IfNotPresent
      pullPolicy: IfNotPresent
      # -- Container image tag, If "" uses appVersion in Chart.yaml
      tag: "v0.39.0"

    podAnnotations:
      reloader.stakater.com/auto: "true"
    fullnameOverride: headlamp
    initContainers:
      - image: ghcr.io/headlamp-k8s/headlamp-plugin-flux:v0.5.0@sha256:05c3df203b2ff82e09e944e31cd16ab66429f37df7566ba0d47285add7c78c5a
        command:
          - /bin/sh
          - -c
          - mkdir -p /build/plugins && cp -r /plugins/* /build/plugins/
        name: headlamp-plugins
        volumeMounts:
          - mountPath: /build/plugins
            name: headlamp-plugins
    config:
      pluginsDir: /build/plugins
      inCluster: true
      oidc:
        secret:
          create: false
        externalSecret:
          enabled: true #keep getting auth errors, upon oidc login i instantly get logged out https://github.com/kubernetes-sigs/headlamp/issues/3441
          name: headlamp-secret
    serviceAccount:
      create: false
      name: headlamp-admin
    clusterRoleBinding:
      create: false

    volumeMounts:
      - mountPath: /build/plugins
        name: headlamp-plugins
    volumes:
      - name: headlamp-plugins
        emptyDir: {}
    service:
      type: LoadBalancer
      loadBalancerIP: 10.10.30.69
      annotations:
        lbipam.cilium.io/ips: 10.10.30.69
      gatus.home-operations.com/endpoint: |-
        name: headlamp-lb
        group: services
      #  - secretName: chart-example-tls
      #    hosts:
      #      - chart-example.local
